@import "../Foundation/mixin";
.l-pagination{
    margin-top:100px;
    @include mq(sp){
        margin-top: 40px;
    }
   ul{
    display:flex;
    width: 590px;
    justify-content: space-evenly;
    align-items: center;
    @include mq(sp){
        justify-content: space-between;
    }
    .page-nanber{
        border:1px #3C2B1C solid;color:#707070; 
        padding:5px 10px;
        @include mq(sp){
            display: none;
        }
    }
    li{
        font-size: 12px;
    }
    .this{
        color: #ffffff;
        background-color:#3C2B1C ;
    }
    .go-page{
        @include mq(sp){
            display: none;
        }
    }
    .sp-go-page{
        display: none;
        @include mq(sp){
            display: block;
        }
    }
    .now-page{
        @include mq(sp){
            display: none;
        }
    }
   }
}