*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "M+ M Type-1 (general-j) Bold", "M+ M Type-1 (basic latin) Regular";
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  overflow-y: scroll;
}

htmlbody,
bodybody {
  position: fixed;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
  background-color: #FFFDFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'M+ M Type-1 (general-j) Bold';
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

video {
  max-width: 100%;
  height: auto;
}

code,
kbd,
pre,
samp {
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid;
}

th,
td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

address {
  font-style: normal;
}

input,
textarea,
select {
  max-width: 100%;
}

.l-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-justify-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-justify-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.l-direction-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.l-left-wrapper {
  width: calc(100% - 310px);
}

@media screen and (max-width: 834px) {
  .l-left-wrapper {
    width: 100%;
  }
}

.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 200px;
  background-color: #FFF7EF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 834px) {
  .l-header {
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-header h1 {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  color: #707070;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 834px) {
  .l-header h1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
    font-size: 30px;
  }
}

.l-header .c-Search-form {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 834px) {
  .l-header .c-Search-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.l-sideber {
  width: 310px;
  background-color: #F2EDE9;
  z-index: 100;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 834px) {
  .l-sideber.is-open {
    left: calc(100% - 300px);
    overflow: scroll;
    height: 100%;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

@media screen and (max-width: 834px) {
  .l-sideber {
    position: fixed;
    z-index: 100;
    left: 100%;
  }
}

.l-sideber .sideber-list {
  color: #707070;
  margin-top: 200px;
  margin-left: 40px;
}

.l-sideber .sideber-list ul li {
  font-size: 20px;
}

.l-sideber .sideber-list ul li ul {
  padding: 20px;
}

.l-sideber .sideber-list ul li ul li {
  font-size: 16px;
  padding: 10px;
}

.l-footer {
  width: 100%;
  height: 150px;
  background-color: #9D8670;
  color: #ffffff;
  text-align: center;
}

.l-footer a {
  padding: 50px 0 0 0;
}

.l-footer p {
  padding: 40px 0 0 0;
  font-size: 12px;
}

.l-page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 375px) {
  .l-page-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-page-nav-left {
  width: auto;
  margin: 8% 3.5% 10% 6.5%;
  position: relative;
}

@media screen and (max-width: 834px) {
  .l-page-nav-left {
    margin: 20px;
  }
}

.l-page-nav-left h3 {
  font-size: 5vw;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
}

.l-page-nav-right {
  width: auto;
  margin: 8% 6% 10% 3.5%;
  position: relative;
}

@media screen and (max-width: 834px) {
  .l-page-nav-right {
    margin: 20px;
  }
}

.l-page-nav-right h3 {
  font-size: 5vw;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
}

.l-map {
  width: 100%;
  height: auto;
  position: relative;
}

.l-map::before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.l-map img {
  max-width: none;
}

.l-map .map-text {
  width: 774px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6%;
}

.l-map .map-text h5 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 10%;
}

.l-map .map-text p {
  font-size: 14px;
  color: #ffffff;
  line-height: 2em;
  margin-top: 10%;
}

@media screen and (max-width: 834px) {
  .l-map .map-text {
    width: 100%;
  }
}

.l-page-nav-taxt {
  width: 100%;
  height: 35%;
  max-height: 35%;
  position: absolute;
  top: 65%;
}

@media screen and (max-width: 834px) {
  .l-page-nav-taxt {
    height: 50%;
    max-height: 50%;
    top: 50%;
  }
}

.l-mask {
  display: none;
}

@media screen and (max-width: 834px) {
  .is-open .l-mask {
    display: block;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.c-search-box {
  width: 370px;
  height: 40px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid #999;
  border-radius: 10px;
  outline: 0;
}

.c-search-btn {
  width: 120px;
  height: 40px;
  background-color: #F2EDE9;
  border: 1px solid #999;
  border-radius: 10px;
  color: #707070;
}

.c-search-btn:hover {
  background-color: #a09e9c;
}

.c-nav-toggle {
  z-index: 1000;
  position: absolute;
  left: calc(100% - 300px);
  top: 75px;
  color: #707070;
}

.c-nav-toggle h2 {
  font-family: 'mplus-1m-bold';
  font-size: 30px;
}

@media screen and (max-width: 834px) {
  .c-nav-toggle {
    position: fixed;
    top: 10px;
    left: calc(100% - 90px);
  }
}

.c-nav-toggle span {
  display: none;
  width: 55px;
  height: 8px;
  top: 20px;
  position: absolute;
  background-color: #707070;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-nav-toggle span::before {
  display: block;
  content: "";
  width: 55px;
  height: 8px;
  background-color: #707070;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 834px) {
  .is-open h2 {
    display: none;
  }
  .is-open span {
    display: block;
  }
  .is-open span::before {
    display: block;
  }
}

.c-page-nav-taxt {
  background-color: #ffffffb2;
  width: 95%;
  margin: 2%;
  overflow: hidden;
  padding: 2%;
  color: #3C2A10;
}

.c-page-nav-taxt h4 {
  font-size: 1.2vw;
  margin: 2%;
}

.c-page-nav-taxt p {
  font-size: 0.9vw;
  margin: 2%;
  margin-bottom: 5%;
}

.c-top-img .sp-top {
  display: none;
}

@media screen and (max-width: 375px) {
  .c-top-img .sp-top {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .c-top-img .pc-top {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */